<div id="user-header" class="container" {% if oob %}hx-swap-oob="true"{% endif %}>
	{% if user.username == active_username %}
		<button hx-get="/user/{{ user.username }}/edit"
				hx-target="#edit-profile"
				hx-swap="innerHTML"
				hx-trigger="click">
			Edit Profile
		</button>
	{% endif %}
	<div class="username-box">
		<h2 class="username">{{ user.username }}</h2>
	</div>
	<div class="bio-box">
		<strong class="bio-name">Bio</strong>
		<p class="bio">{{ user.bio }}</p>
	</div>
	<div class="stats-box">
		<div class="stat-div">
			<strong class="stat-name">Playtime</strong>
			<br>
			<span class="stat">{{ user.playtime }}</span>
		</div>
		<div class="stat-div">
			<strong class="stat-name">Attempts Completed</strong>
			<br>
			<span class="stat">{{ user.attempt_count }}</span>
		</div>
	</div>
	<div class="stats-box">
		<div class="stat-div">
			<strong class="stat-name">Average WPM</strong>
			<br>
			<span class="stat">{{ user.avg_wpm }}</span>
		</div>
		<div class="stat-div">
			<strong class="stat-name">Average Accuracy</strong>
			<br>
			<span class="stat">{{ user.avg_accuracy }}</span>
		</div>
	</div>
	<div class="stats-box">
		<div class="stat-div">
			<strong class="stat-name">Max WPM</strong>
			<br>
			<span class="stat">{{ user.max_wpm }}</span>
		</div>
		<div class="stat-div">
			<strong class="stat-name">Max Accuracy</strong>
			<br>
			<span class="stat">{{ user.max_accuracy }}</span>
		</div>
	</div>
</div>

<a id="navbar-user" hx-swap-oob="true" hx-get="/user/{{ active_username }}">{{ active_username }}</a>