<div id="user-header" class="container" {% if oob %}hx-swap-oob="true"{% endif %}>
	{% if user.username == active_username %}
		<button hx-get="/user/{{ user.username }}/edit"
				hx-target="#edit-profile"
				hx-swap="innerHTML"
				hx-trigger="click">
			Edit
		</button>
	{% endif %}
	<div class="username-box stats-box">
		<h2 class="username">{{ user.username }}</h2>
	</div>
	<div class="bio-box stats-box">
		<strong class="bio-name">Bio</strong>
		<details class="bio-details">
		<summary>See bio</summary>
		<p class="bio">{{ user.bio }}</p>
	</details>
	</div>
	<div class="stats-box">
		<div class="stat-div">
			<strong class="stat-name">Playtime</strong>
			<br>
			<span class="stat">{{ user.playtime }}</span>
		</div>
		<div class="stat-div">
			<strong class="stat-name">Attempts</strong>
			<br>
			<span class="stat">{{ user.attempt_count }}</span>
		</div>
	</div>
	<div class="stats-box">
		<div class="stat-div">
			<strong class="stat-name">Avg WPM</strong>
			<br>
			<span class="stat">{{ user.avg_wpm }}</span>
		</div>
		<div class="stat-div">
			<strong class="stat-name">Avg Accuracy</strong>
			<br>
			<span class="stat">{{ user.avg_accuracy }}%</span>
		</div>
	</div>
	<div class="stats-box">
		<div class="stat-div">
			<strong class="stat-name">Max WPM</strong>
			<br>
			<span class="stat">{{ user.max_wpm }}</span>
		</div>
		<div class="stat-div">
			<strong class="stat-name">Max Accuracy</strong>
			<br>
			<span class="stat">{{ user.max_accuracy }}%</span>
		</div>
	</div>
</div>

{% if oob %}{% include "atomic/nav_user.html" %}{% endif %}