<link rel="stylesheet" href="/static/jupiter/styles.css">
<header>
	<a class="title-link" href="jupiter.html">
		<h1 class="title-text">JupiterBest</h1>
	</a>
	<p>Qualquer coisa é mais esbelta que o <a href="https://uspdigital.usp.br/jupiterweb/webLogin.jsp">Jupiterweb</a></p>
</header>
<main>
	<h2>Login</h2>
	<h3>Insira seu usuário e senha abaixo</h3>
	<form id="login-form">
		<input type="text" placeholder="Usuário" required>
		<input type="password" placeholder="Senha" required>
		<button type="submit">Entrar</button>
	</form>
</main>

<footer>
	<img id="logo-footer" src="/static/jupiter/usp-logo-transp.png" alt="Logo da USP">
	<div id="footer-text">
		<p>&copy; 1999 - 2026 - Superintendência de Tecnologia da Informação/USP</p>
	</div>
</footer>