<link rel="stylesheet" href="/static/professor/styles.css">
<nav>
	<div class="nav-container">
		<strong>Roberto Marcondes</strong>
		<div class="nav-links">
			<a hx-get="/professor" hx-target="#content" hx-swap="innerHTML">Home</a>
			<a hx-get="/research" hx-target="#content" hx-swap="innerHTML">Research</a>
			<a hx-get="/students" hx-target="#content" hx-swap="innerHTML">Past Students</a>
			<a hx-get="/contact" hx-target="#content" hx-swap="innerHTML">Contact</a>
		</div>
	</div>
</nav>
<div class="container">
	<h1>Research Areas</h1>
	<div class="card">
		<ul>
			<li>Computer Vision</li>
			<li>Machine Learning</li>
			<li>Artificial Intelligence</li>
			<li>Data Science</li>
		</ul>
		<p><a href="https://www.ime.usp.br/~cesar/CV_RobertoCesar.pdf" target="_blank">Download a summarized CV (PDF)</a></p>
		<p><a href="https://drive.google.com/drive/folders/1PAWszglhk3j8sFkCB_e8nLRbM00G2qro?usp=sharing" target="_blank"> Slides of my talks. </a></p>
	</div>
</div>