<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<script src="/static/js/htmx.min.js"></script>
</head>
<body>
	<h1>Login</h1>
	<form hx-post="/login"
		  hx-trigger="submit"
		  hx-target="#error"
		  hx-swap="innerHTML">
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<button type="submit">Login</button>
	</form>

	<div id="error"></div>
</body>
</html>