<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/static/js/htmx.min.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="/static/css/base.css" rel="stylesheet">
	<link href="/static/css/layout.css" rel="stylesheet">
	<link href="/static/css/components.css" rel="stylesheet">
	<link href="/static/css/pages/typing.css" rel="stylesheet">
	<link href="/static/css/pages/profile.css" rel="stylesheet">
	<link href="/static/css/pages/settings.css" rel="stylesheet">
	<title>The Typist</title>
</head>
<body>
	<header class="main-header">
		<nav class="main-nav"
			 hx-target="#main-content"
			 hx-push-url="true"
			 hx-swap="innerHTML swap:0.2s">
			
			<div>
				<a class="nav-link" hx-get="/">Typing Test</a>
				<a class="nav-link" hx-get="/settings">Settings</a>
			</div>

			<div>
				{% if active_username %}
					{% include "atomic/nav_user.html" %}
				{% else %}
					<a id="navbar-user" class="nav-link" hx-get="/login">Login</a>
				{% endif %}
			</div>

		</nav>
	</header>

	<main id="main-content">
		{% include chosen_template %}
	</main>

	<div class="toast-container"></div>
</body>
</html>