<div class="screen">
	<h1>Sign Up</h1>
	<form 
		hx-post="/user"
		hx-trigger="submit"
		hx-target=".error"
		hx-swap="innerHTML">
		<input type="text" name="username" placeholder="Username">
		<input type="text" name="bio" placeholder="Bio">
		<input type="password" name="password" placeholder="Password">
		<button type="submit">Sign Up</button>
	</form>

	<div id="suggest-link">Already have an account?
		<a	hx-target="#main-content"
			hx-push-url="true"
			hx-swap="innerHTML swap:0.2s"
			hx-get="{{ url_for('get_login') }}"
			class="standard-link">
			Log in
		</a>
	</div>

	<div class="invisible error"></div>
</div>