#profile-page, #edit-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5vh;
}

.user-container {
	display: flex;
	justify-content: center;
	padding: 20px 20px;
	border: 1px solid var(--border);
	border-radius: 10px;
	align-items: center;
	background-color: var(--bg-deep);
	max-width: min(80vw, 1500px);
}

.attempts-table {
	width: 100%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#user-header {
	gap: 40px;
	flex-wrap: wrap;
}

#attempts-container {
	flex-direction: column;
	gap: 20px;
}

#attempts-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.attempt.header {
	font-weight: bold;
	background-color: transparent;
	border: none;
	color: var(--muted);
}

.attempt {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 2fr;
	align-items: center;
	padding: 10px 15px;
	border-bottom: 1px solid var(--border);
	gap: clamp(5px, 10vw, 100px);
}

.attempt:hover:not(.header) {
	border-radius: 10px;
	background-color: var(--bg-surface);
}

.stats-box {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.stat-name, .bio-name {
	color: var(--muted);
}

.bio-details summary {
	cursor: pointer;
	color: var(--accent);
	font-size: 0.8rem;
	outline: none;
}

.bio-details[open] summary {
	margin-bottom: 10px;
	content: "Collapse";
}

.bio {
	max-width: 300px;
	word-wrap: break-word;
	margin: 0;
}

@media (max-width: 800px) {

	.attempts-table {
		max-width: 100%;
	}
	
	.attempt {
		grid-template-columns: 1fr 1fr;
		gap: 5px;
		padding: 8px 10px;
		font-size: 0.9rem;
	}
}