.char {
	font-size: clamp(1.5rem, 2.4vw, 2.5rem);
	color: var(--muted);
}

.char.correct {
	color: var(--fg);
}
.char.incorrect {
	color: var(--error);
}

#hidden-input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}

#cursor {
	position: fixed;
	z-index: 100;
	pointer-events: none;

	transition: left 0.1s ease, top 0.1s ease;

	width: 3px;
	height: clamp(1.7rem, 2.7vw, 2.9rem);
	background-color: var(--accent);
}

#text-display {
	line-height: 1.8;
}

#size-chooser {
	transition: opacity 0.2s;
}

@media (max-width: 800px) {
	#cursor {
		height: 1.7rem;
	}
}