.char {
	font-size: 2rem;
}

.char.correct {
	color: var(--muted);
}
.char.incorrect {
	color: var(--error);
}

#hidden-input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}